.content {
  flex: 1;
  min-height: 100%;
  border-top: 0.0625rem solid var(--border);
  padding: 1.2rem 1rem;
  background-color: var(--bg);
}

.left-header > h2 {
  color: var(--heading);
}

.left-header > p {
  color: var(--text);
}

.add-task {
  background-color: var(--primary);
  color: var(--surface);
  border: none;
  border-radius: 1.25rem;
  padding: 0.5rem 0.8rem;
  cursor: pointer;
}

.add-task:hover {
  background-color: var(--primary-hover);
}

.content-dashboard {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
}

.status {
  flex: 1 1 calc(50% - 0.5rem);
  min-width: 0;
  max-width: calc(50% - 0.5rem);

  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  padding: 1rem;
  background-color: var(--surface);
  box-shadow: var(--shadow) 0px 1px 4px;
  border-radius: 0.9375rem;
}

.status > p {
  margin: 0;
  padding: 0;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--primary);
  font-size: 0.9rem;
}

.status > span {
  font-size: 2rem;
  font-weight: bold;
}

.completed-number {
  color: var(--primary);
}

.in-progress-number {
  color: var(--text);
}

@media (min-width: 426px) {
  .content-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
