#app {
  height: 100%;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main {
  flex: 1 1 auto;
}

@media (min-width: 1024px) {
  #app {
    display: grid;
    grid-template:
      "header header" auto
      "sidebar main" 1fr
      / minmax(18rem, min(25%, 300px)) 1fr;
  }

  .header {
    grid-area: header;
  }

  .sidebar,
  .main {
    min-width: 0;
  }

  .sidebar {
    grid-area: sidebar;
  }

  .main {
    grid-area: main;
  }
}
